influxParams:
  hostname: XX
  adminPort: NNNN
  postPort: NNNN
watsonKeys:
  username: your_watson_username_for_speech_api
  password: your_watson_password_for_speech_api
  apiKey: your_alchemy_language_API_key
googleKeys:
  username: your_google_username
  password: your_google_password
witKeys:
  bearerToken: your_wit_api_bearer_token
audioOptions:
  triggerThreshold: 20